* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
  overflow-x:  hidden;
  -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */

}

.content {
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 575px) {
  .content {
    width: 90%;
  }
  .case{
    width: 90% !important;
  }
  .portfolio-text{
    padding:20px 20px 30px 20px !important;
  }
}

@media screen and (min-width: 1800px) {
  .content {
    width: 50%;
  }
}
.blank{
  height: 100px;
}
.vc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hc {
  display: flex;
  justify-content: center;
}

::selection {
  background: #76CEFF;
  color: white;
}

/* Animatie */

.zweven {
	animation-name: zweven;
	-webkit-animation-name: zweven;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes zweven {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes zweven {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/* Button */

.button {
  padding: 20px 30px;
  background: #F4FBFF;
  color: #76CEFF;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  display: inline-block;
  transition: 0.8s ease;
}

.button:hover {
  padding: 20px 50px;
  background: #76CEFF;
  color: #fff;
}

/* Text */

h1 {
  font-size: 78px;
  font-weight: bold;
  color: #76CEFF;
  line-height: 96px;
}

@media screen and (max-width: 930px) {
  h1 {
    font-size: 48px;
    line-height: 66px;
    padding: 75px 0px 75px 0px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    padding: 50px 0px 30px 0px;
    font-size: 46px;
    line-height: 60px;
    text-align: left;
  }
}

.cont h2{
  font-size: 36px;
  line-height: 42px;
}


h2 {
  font-size: 48px;
  font-weight: 600;
  color: #092231;
  line-height: 58px;
  text-align: center;
  padding-bottom: 100px;
}

h2::after {
  content:"\A";
    width:10px;
    height:10px;
    border-radius: 100%;
    background: #76CEFF;
    display:inline-block;
    margin:0 5px;
}

.bubbles {
display: inline-block;
font-family: arial;
position: relative;
}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 10px;
background-color: #fff;
z-index: 1;
}

h3 {
  font-size: 42px;
  font-weight: 600;
  color: #092231;
  line-height: 52px;
}

.portfolio h3{
  color: white;
}


h4 {
  font-size: 32px;
  font-weight: 600;
  color: #092231;
  line-height: 44px;
}

h5 {
  font-size: 28px;
  font-weight: 600;
  color: #092231;
  line-height: 44px;
}

p {
  font-size: 20px;
  color: #313d45;
  line-height: 36px;
  font-weight: 300;
  margin-top: 15px;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #76CEFF;
  letter-spacing: 1px;
}
a:hover{
  color: #76CEFF;

<<<<<<< Updated upstream
}
=======

>>>>>>> Stashed changes
.gradient {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.gradient:hover {
  background-size: 100% 100%;
  padding: 10px;
}

/* Navigatie */
/*
.nav-container{
  width: 100%;
  overflow: auto;
  height: auto;
  position: fixed;
  padding: 20px 0;
  transition: all .2s ease-out;
  background-color: none;
  transform: translateY(0);
}

.nav{
  width: 75%;
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow: auto;
}

.navlinks{
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}

.logo{
  width: 128px;
  display: inline-block;
  float: left;
}

.item {
  display: inline-block;
  margin-left: 20px;
  color: #76CEFF;
}

.item a {
  margin: 0;
  margin-left: 10px;
}

.menu-hover {

}
*/
.menu-hover .menu-item-name {
	padding: 0 0.35em;
	font-weight: 400;
	line-height: 1.4;
	transition: color 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  font-size: 20px;
}

.menu-hover .menu-item-name::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
	opacity: 0.3;
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu-hover .menu-item-label {
	font-size: 1em;
	letter-spacing: 0.05em;
	transform: translate3d(-0.5em,0,0);
	transition: transform 0.5s, color 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu-hover .menu-item-label::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 25%;
	height: 1px;
	left: 0.05em;
	top: 1.25em;
	opacity: 0.3;
	transform: scale3d(0,1,1);
	transform-origin: 100% 50%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu-hover .menu-item:nth-child(odd) .menu-item-name::before,
.menu-hover .menu-item:nth-child(odd) .menu-item-label::before {
	background: #76CEFF;
}

.menu-hover .menu-item:nth-child(even) .menu-item-name::before,
.menu-hover .menu-item:nth-child(even) .menu-item-label::before  {
	background: #76CEFF;
}
.menu-hover .menu-item.on:nth-child(odd) .menu-item-name::before,
.menu-hover .menu-item.on:nth-child(odd) .menu-item-label::before {
	background: black;
}

.menu-hover .menu-item.on:nth-child(even) .menu-item-name::before,
.menu-hover .menu-item.on:nth-child(even) .menu-item-label::before  {
	background: grey;
}

.case-menu .menu-item:nth-child(odd) .menu-item-name::before,
.case-menu .menu-item:nth-child(odd) .menu-item-label::before {
	background: grey;
}
.case-menu .menu-item:nth-child(odd) .menu-item-name::before,
.case-menu .menu-item:nth-child(odd) .menu-item-label::before {
	background: black;;
}



@media screen and (max-width: 1000px) {

  .menu-hover .menu-item:nth-child(odd) .menu-item-name::before,
  .menu-hover .menu-item:nth-child(odd) .menu-item-label::before {
  	background: white;
  }

  .menu-hover .menu-item:nth-child(even) .menu-item-name::before,
  .menu-hover .menu-item:nth-child(even) .menu-item-label::before  {
  	background: white;
  }
}


/* Hover */


.menu-hover .menu-item:hover .menu-item-name::before,
.menu-hover .menu-item:focus .menu-item-name::before,
.menu-hover .menu-item:hover .menu-item-label::before,
.menu-hover .menu-item:focus .menu-item-label::before {
	transform: scale3d(1,1,1);
}

.menu-hover .menu-item:hover .menu-item-label,
.menu-hover .menu-item:focus .menu-item-label {
	transform: translate3d(0,0,0);
}

.menu-hover .menu-item:hover .menu-item-label::before,
.menu-hover .menu-item:focus .menu-item-label::before {
	transition-timing-function: ease;
	transform-origin: 0% 50%;
}

.menu-item-name,
.menu-item-label {
	position: relative;
	display: inline-block;
}
*/
/* Header */

.header {
  height: 70vh;
  width: 100%;
  background: #f4fbff; /* Old browsers */
  background: -moz-linear-gradient(top, #f4fbff 51%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f4fbff 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f4fbff 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fbff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.header h2 {
  font-size: 20px;
  color: #C1E9FF;
  padding-top: 10px;
  font-weight: 400;
}

.header h2::after {
  display: none;
}

.opacity {
  opacity: 0;
}

.headertekst {
  width: 50%;
  margin-top: 5%;
}

@media screen and (max-width: 1792px) {
  .headertekst {
    width: 80%;
    margin-top: 10%;
  }
}

.andereheader {
}

.andereheader p {
  width: 50%;
  color: #313d45;
  margin-bottom: 50px;
}

.andereheader h2 {
  font-size: 64px;
  font-weight: 600;
  color: #092231;
  line-height: 74px;
  text-align: left;
  padding-bottom: 20px;
}

.andereheader h2::after {
  content:"\A";
    width:10px;
    height:10px;
    border-radius: 100%;
    background: #76CEFF;
    display:inline-block;
    margin:0 5px;
}

@media screen and (max-width: 930px) {
  .headertekst {
    width: 90%;
  }
  .header h2 {
    display: none;
  }
  .andereheader h2 {
    display: block;
    font-size: 48px;
    line-height: 58px;
  }
  .andereheader p {
    width: 90%;
  }
  .platform-manager__img{
    transform: scale(2) !important;
  }
  .case-travelr__img{
  }
  .case-travelr__img--desktop{
    display: none;
  }
  .case-travelr__img--mobile{
    display: block !important;


  }
  .case-travelr__img--mobile {
    width: 90%;
    margin:15% auto;
    -webkit-box-shadow: 0px 10px 95px -23px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 10px 95px -23px rgba(0,0,0,0.23);
    box-shadow: 0px 10px 95px -23px rgba(0,0,0,0.23);
  }


}
.case-travelr__img--mobile{
  display: none;
}
.platform-manager__img{
  transform: scale(1);
}

/* Diensten */

.diensten {
  background: white;
  z-index: 9999;
}

.dienstuitleg {
  margin-top: 50px;
}

.rechts {
  text-align: right;
}
.case-menu a{
  color:#092231;
}
.case-menu a:hover{
  color:#092231 ;
}
.rechts2{
  position: relative !important;
  top:0 !important;
}
/* Portfolio */

.kaert{
  background: #13242E;
}

.remote{
  background: #008CFF;
}

.ramon{
  background: #3E3940;
}

.pm{
  background: #343591;
}

.travlr{
  background: #38F1A6;
}

.iok{
  background: #F05A6C;
}

.portfolio {
  margin-top: 180px;
}

.portfolio-item {
  width: 100%;
  border-radius: 10px;
}

.portfolio-text {
  padding: 50px;
}

.portfolio p {
  color: white;
  opacity: 0.7;
}

.portfolio a {
  color: white;
  transition: 0.8s;
  text-decoration: none;
}

.portfolio a:hover {
  opacity: 0.2;
  color: white;
  transition: 0.4s;
}

.portfolio img {
  width: 350px;
}

.portfolio-image {
  margin-left: 100px;
}

@media screen and (max-width: 575px) {
  .portfolio img {
    width: 80%;
    margin-left: 20px;
  }
  .portfolio-image {
    margin-left: 0px;
  }
}

.portfolio-meer {
  text-align: center;
  margin-top: 100px;
}

@media screen and (max-width: 575px) {
.portfolio-image {
  margin: 0 auto;
}
}

/* Over Ons */

.over {
  padding: 100px 0px;
  background: #092231;
  margin-top: 150px;
}

.over h4 {
  color: #fff;
}

.over p {
  color: #fff;
}

.overtekst {

}

.illustratie {
  text-align: right;
  margin-left: 150px;
  width: 70%;
}

@media screen and (max-width: 992px) {
.illustratie {
  text-align: center;
  margin-left: 0px;
  margin: 0 auto;
  margin-top: 40px;
  width: 70%;
}
}

/* Onze Partners */

.partners {
  margin-top: 150px;
  text-align: center;
}

.logos img {
  width: 100%;
  margin-bottom: 100px;
  opacity: 0.1;
  transition: 0.8s ease;
}

.logos img:hover {
  opacity: 1;
}

/* Call-To-Action */

.call-to-action {
  margin-top: 150px;
}

.contact-deck {
}

.contact-deck-text {
  margin: 30px 0px;
}

.contact-links {
  margin-right: 100px;
}

.contact-rechts {
  margin-left: 100px;
}

@media screen and (max-width: 992px) {
  .contact-deck {
    margin-top: 100px;
    text-align: center;
  }
  .contact-links {
    margin-right: 0px;
  }

  .contact-rechts {
    margin-left: 0px;
  }
  .row{
    display: inherit;
  }
  body{
    width: 100vw;
    overflow-x: hidden;
  }
}

/* Footer */

.footer {
  margin-top: 150px;
  width: 100%;
  background: #092231; /* Old browsers */
  background: -moz-linear-gradient(45deg, #092231 0%, #2c3344 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #092231 0%,#2c3344 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #092231 0%,#2c3344 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092231', endColorstr='#2c3344',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 100px 0px;
}

@media screen and (max-width: 575px) {
  .footer {
    text-align: center;
  }
    .socials {
      text-align: center;
    }
}

.footer p {
  color: white;
  font-size: 26px;
  line-height: 64px;
}

.footer a {
  font-weight: 600;
  color: white;
  font-size: 22px;
  transition: 0.8s ease;
}

.footer a:hover {
  text-decoration: none;
}

.footer-call-to-action {

}

.socials {
  text-align: right;
  margin-top: 45px;
}

.socials img {
  width: 32px;
  margin-right: 60px;
  opacity: 0.2;
  transition: 0.8s ease;
}

.socials img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Team leden */

.team {
  margin-top: 100px;
}

.member {
  transition: 0.6s ease;
}

.memberfoto {

}

.memberfoto img {
  width: 100%;
  height: 100%;
}

.blue {

  background-color: #f4fbff; /* Old browsers */
 /*background: -moz-linear-gradient(top, #f4fbff 51%, #E4F5FF 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top, #f4fbff 51%,#E4F5FF 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom, #f4fbff 51%,#E4F5FF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fbff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  transition: all .2s ease-out;
}
.blue img{
   mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%) contrast(2);
  filter: grayscale(100%) contrast(1);
  transition: all .2s ease-out;

}
.blue::after{
  background-color: #000;
  mix-blend-mode: lighten;
}

.blue:hover {
  background:white;
  transition: all .2s ease-out;
}

.blue:hover img {
  -webkit-filter: grayscale(0%) contrast(1.2);
}

.membertekst {
  text-align: center;
  margin-top: 40px;
}

.membertekst a {
  color: #76CEFF;
  line-height: 10px;
  font-weight: 400;
  font-size: 18px;
}

.membertekst a:hover {
  text-decoration: none;
  color: #249EE2;
}

.membertekst h3 {
  font-size: 32px;
  line-height: 32px;;
}

.rechter {
  margin-top: 30vh;
}

.linker {
  margin-top: -20vh;
}

@media screen and (max-width: 991px) {
  .rechter {
    margin-top: 100px;
  }

  .linker {
    margin-top: 100px;
  }
}

/* Contact */

.contactinfo {
  width: 100%;
  background: #F6FCFF;
  margin-top: 150px;
  padding: 100px 0px;
}

.contactinformatie p {
  font-size: 24px;
  color: #92D8FF;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .contactinformatie {
    text-align: center;
  }
}


.contact {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif !important;
}
.label-input100{
  font-family: 'Montserrat', sans-serif !important;
}
.input100::placeholder{
  font-family: 'Montserrat', sans-serif !important;

}
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
input:-moz-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
input::-moz-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
input:-ms-input-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}

textarea::-webkit-input-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
textarea:-moz-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
textarea::-moz-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
textarea:-ms-input-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
  position: relative;
  z-index: 1;
}

.contact100-map {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrap-contact100 {
  width: 1170px;
  background: #fff;
  border-radius: 10px;
  padding: 82px 180px 33px 180px;
  position: relative;
  display: none;
}

.show-wrap-contact100 {
  visibility: visible;
  opacity: 1;
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 68px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 65px;
}

.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
  padding-left: 5px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #76CEFF;
}


/*---------------------------------------------*/
input.input100 {
  height: 40px;
}


textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 82px 80px 33px 80px;
  }
}

@media (max-width: 768px) {
  .rs1-wrap-input100 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 82px 15px 33px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/* Project */

.project {
  text-align: center;
}

.project h1 {
  color: #092231;
  text-align: center;
  font-size: 64px;
}

.project h5 {
  font-size: 22px;
  color: #3F3F3F;
}

.project p {
  color: #606060;
  font-size: 22px;
  font-weight: 400;
}

.project-info {
  text-align: left;
}

.project-info h2 {
  font-size: 42px;
  line-height: 62px;
  text-align: left;
  padding-bottom: 0px;
}

.project-info h2::after {
  display: none;
}

.project-text {
  margin: 0 auto;
  margin-top: 250px;
  width: 80%;
}


.soccer{
  margin: 140px 0px 0px 0px;
}

.soccer img{
margin-bottom: 25px;
}
@media screen and (max-width: 700px) {
  .project-text {
    width: 90%;
  }
}

/* Remote Medics */

.gradient-top {
  background: #F1FAFF; /* Old browsers */
  background: -moz-linear-gradient(top, #F1FAFF 51%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #F1FAFF 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #F1FAFF 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1FAFF', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  padding-top: 50px;
}

.ramon-gradient {
  background: #ECECEC; /* Old browsers */
  background: -moz-linear-gradient(top, #ECECEC 51%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ECECEC 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ECECEC 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ECECEC', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  padding-top: 50px;
}

.remote-gradient {
  background: #E5F3FF; /* Old browsers */
  background: -moz-linear-gradient(top, #E5F3FF 51%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #E5F3FF 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #E5F3FF 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5F3FF', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  padding-top: 50px;
}

.travlr-gradient {
  background: #EBFDF6; /* Old browsers */
  background: -moz-linear-gradient(top, #EBFDF6 51%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #EBFDF6 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #EBFDF6 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBFDF6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  padding-top: 50px;
}

.pm-gradient {
  background: #EAF0F7; /* Old browsers */
  background: -moz-linear-gradient(top, #EAF0F7 51%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #EAF0F7 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #EAF0F7 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAF0F7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  padding-top: 50px;
}

.voetbal-gradient {
  background: #E7E8E9; /* Old browsers */
  background: -moz-linear-gradient(top, #E7E8E9 51%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #E7E8E9 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #E7E8E9 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E7E8E9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  padding-top: 50px;
}

.iok-gradient {
  background: #FEF0F1; /* Old browsers */
  background: -moz-linear-gradient(top, #FEF0F1 51%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FEF0F1 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #FEF0F1 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEF0F1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  padding-top: 50px;
}

























body{
  margin: 0;
  padding:0;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  -webkit-overflow-y: auto !important;
  -webkit-overflow-scrolling: auto !important;

}

.nav-container{
  width: 100%;
  overflow: auto;
  height: auto;
  position: fixed;
  padding: 0px 0;
  z-index: 1100;
  transition: all .2s ease-out;
  transform: translate3d(0,0,0) translateY(0);
  color:#092231;
  -webkit-overflow-scrolling:touch;
}

.nav-container.actief{
  background-color: white;
  color:white;
  -webkit-box-shadow: 0px 10px 25px -5px rgba(0,0,0,0.03);
  -moz-box-shadow: 0px 10px 25px -5px rgba(0,0,0,0.03);
  box-shadow: 0px 10px 25px -5px rgba(0,0,0,0.03);
}
.nav-container.actief a{
  color:#092231;
}
.nav-container.actief a:hover{
  text-decoration: none;

}
.nav{
  width: 75%;
  margin: 0 auto;
  position: relative;
  overflow:hidden;
  z-index: 1200;
}
.item h2{
  padding: 0;
  color:inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;

}
.item h2::after{
  content:none;
}
.rechts{
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);

}
.logo{
  width: 100px;
  height: 100px;
  display: inline-block;
  float: left;
  position: relative;
}
.item{
  display: inline-block;
  margin-left: 20px;
}
.item h2{
  margin: 0;
}

.empty{
  width: 75%;
  height: 200vh;
  background: url('https://news.nationalgeographic.com/content/dam/news/photos/000/755/75552.ngsversion.1422285553360.adapt.1900.1.jpg');
  background-color: yellow;
  background-size: 100%;
  margin: 0 auto;
}
.empty img{
width: 100%;

}
.stripe{
  width: 20px;
  height: 5px;
  background-color: #76CEFF;
  position: absolute;
  right: 5%;
}
.stripe.wit{
  background-color:#092231 !important;
}
.hamburger{
  display: none !important;
  margin-top: 25px;
}
.margin-top{
  margin-top:10px;
}
.bottom{
  margin-top: 20px;
}
.grote-container{
}
.grote-container.aan{
  opacity: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .nav-container.actief{
    background-color: inherit;
  }
  .portfolio-header br{
    display: none;
  }
  .studio-header br{
    display: none;
  }
  .socials{
    text-align: center;
  }
  .socials img{
    margin: 0 30px;
  }
  .partners h2{
    width: 80%;
    margin: 0 auto;
  }
  .menu-hover .menu-item-name{
    font-size: 30px;
  }


  .nav-header{
    overflow: auto;
    background-color: inherit;
  }
  .nav-header.aan{
    background-color: white;
    -webkit-box-shadow: 0px 10px 25px -5px rgba(0,0,0,0.03);
-moz-box-shadow: 0px 10px 25px -5px rgba(0,0,0,0.03);
box-shadow: 0px 10px 25px -5px rgba(0,0,0,0.03);
  }


  .nav{
    width: 100vw;
    display: inherit;
  }
  .logo{
    margin-left: 5%;

  }

  .hamburger{
    display: inline-block !important;
    transition: all .2s ease-out;
    position: absolute;
    right: 5%;
  }
.case-hamburger .stripe{
  background-color:#092231;
}
  .item.loading{
  }
  .item{
    display: none;
  }
  .item h2{
    font-size: 30px;
    display: inline-block;
  }
  @keyframes item {
0%{
  opacity: 0;
  padding-right: 200px;
}
40%{
  margin-left: 0px !important;
  opacity: 1;
  padding-right: 0;
}
100%{
  margin-left: 0px !important;
  opacity: 1;
}
}

  @keyframes item2 {
0%{
  margin-left:0px;
  opacity: 1;
}
40%{
  margin-left: 200px;
  opacity: 0;

}
100%{
  margin-left: 200px;
  opacity: 0;

}
  }
  @keyframes item3 {
0%{
  margin-left:-200px;
  opacity: 0;
  padding-right: 200px;
}
60%{
  margin-left: 0px;
  opacity: 1;
  padding-right: 0;
}
100%{
  margin-left: 0px;
  opacity: 1;
}
}

  @keyframes item4 {
0%{
  margin-left:0px;
  opacity: 1;
}
60%{
  margin-left: 200px;
  opacity: 0;

}
100%{
  margin-left: 200px;
  opacity: 0;

}
  }
  @keyframes item5 {
0%{
  margin-left:-200px;
  opacity: 0;
  padding-right: 200px;
}
80%{
  margin-left: 0px;
  opacity: 1;
  padding-right: 0;
}
100%{
  margin-left: 0px;
  opacity: 1;
}
}

  @keyframes item6 {
0%{
  margin-left:0px;
  opacity: 1;
}
80%{
  margin-left: 200px;
  opacity: 0;

}
100%{
  margin-left: 200px;
  opacity: 0;

}
  }
  @keyframes item7 {
0%{
  margin-left:-200px;
  opacity: 0;
  padding-right: 200px;
}
100%{
  margin-left: 0px;
  opacity: 1;
  padding-right: 0;
}
100%{
  margin-left: 0px;
  opacity: 1;
}
}

  @keyframes item8 {
0%{
  margin-left:0px;
  opacity: 1;
}a
100%{
  margin-left: 200px;
  opacity: 0;

}
100%{
  margin-left: 200px;
  opacity: 0;

}
  }
  .item.active{
    display: block;
    width: 100%;
    text-align: center;
    margin: 50px 0;
  }
  .item.item1.loading{
    animation: item .6s;
  }
  .item.item1.loading2{
    animation: item2 .6s;

  }
  .item.item2.loading{
    animation: item3 .6s;
  }
  .item.item2.loading2{
    animation: item4 .6s;

  }
  .item.item3.loading{
    animation: item5 .6s;
  }
  .item.item3.loading2{
    animation: item6 .6s;

  }
  .item.item4.loading{
    animation: item7 .6s;
  }
  .item.item4.loading2{
    animation: item8 .6s;

  }


.main{
  height: 100vh;
  transition: all .2s ease-out;
  overflow-y: hidden;
}

@keyframes bg {
  0%{
    background-color: #76CEFF;

  }
  100%{
    background-color: hsla(201, 100%, 73%, 0);
  }

}
.nav-container.bg2{
  background-color: hsla(201, 68%, 11%, 0);

}
.nav-container.bg{
  background-color: white !important;


}
# @media screen and (-webkit-min-device-pixel-ratio:0)
{
 .nav-container.bg{
   animation: none !important;

  }
}
@keyframes bg2 {
0%{
  background-color: hsla(201, 100%, 73%, 0);
}
100%{
  background-color: #76CEFF;
}
}
  .hamburger{
    float: right;
    width: 60px;
    height: 60px;
  }
  .rechts{
    position: fixed;
    overflow: auto;
    width: 100%;
    overflow-x: hidden
  }
  .item.active{
    color:white;
  }
  .item.active a{
    color:#092231;
  }
  .logo{
    width: 90px;
    height: 75px;

  }
  .stripe{
    width: 35px;
    height: 5px;
    border-radius: 20px;
  }
  .hamburger.active .bottom{
    transform: translateY(-10px);
  }
  .hamburger.active .top{
    transform: translateY(10px);
  }
  .bottom, .top{
    transition: all .2s ease-out;
  }
  .nav-container{
    transition: all .2s ease-out;
    width: inherit;
  }

}
.logo-more{
  width: 100%;
  position: absolute;
  top:50%;
  transform: translateY(-50%);

}
.st0.active{
  fill:#092231 !important;
}
.st0{
  fill: #76CEFF !important;
}
.st1 path{
  fill:#092231 !important;
}
.st1 polygon{
  fill:#092231 !important;
}

.big-ass-container{
  width: 100vw;
  height: auto;
  overflow: hidden;
}
.team1:hover{
  color:#76CEFF !important;
  text-decoration: none;
  opacity: 0.1;
  transition: 0.6s;
}
.team1{
  color:#76CEFF !important;
    transition: 1s;
}



/*    CONTACT BUTTON */
.remove {
  display: none;
}

.verzonden img{
  width: 100%;
  margin-bottom: 20px;
  animation: verzondenimg 1s;

}

.verzonden h2{
  color:#092231 !important;
  font-size: 20px;
  padding: 0px;
  line-height: 30px;
  animation: verzondenh2 1.5s;
}
.verzonden h2::after{
  content: none;
}
.verzonden{
  position: fixed;
  background-color: white;
  width: 85vw;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 93px -30px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 5px 93px -30px rgba(0,0,0,0.26);
  box-shadow: 0px 5px 93px -30px rgba(0,0,0,0.26);
padding: 20px;
  animation: verzonden 1.5s;

}

@media screen and (min-width: 800px) {
  .verzonden {
    width: 50vw;
    padding: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .verzonden {
    width: 30vw;
    padding: 90px;
  }
}

.animate-out img {
  animation: animate-out--img 2s;
}

.animate-out h2 {
  animation: animate-out--h2 2s;
}

.animate-out {
  animation: animate-out 2s;
}

@keyframes animate-out--img {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(200px);
  }

}


@keyframes animate-out--h2 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(100px);
  }

}

@keyframes animate-out {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
    top: 50%;
  }
  100%{
    opacity: 0;
    top:80%;
  }

}


@keyframes verzonden {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    top:80%;
  }
  100%{
    opacity: 1;
    top: 50%;
  }

}

@keyframes verzondenh2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }

}

@keyframes verzondenimg {

  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }

}


.verzend{

    padding: 20px 30px;
    background: #F4FBFF;
    color: #76CEFF;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    display: inline-block;
    transition: 0.8s ease;
  }
  .verzend:hover {
    padding: 20px 50px;
    background: #76CEFF;
    color: #fff;
  }
  .gradient {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
